a:link { color: #47d147; text-decoration: none; background-color: transparent }
a:visited { color: #47d147; text-decoration: none; background-color: transparent }
a:hover { color: #999; text-decoration: none; background-color: transparent }
a:active { color: #999; text-decoration: none; background-color: transparent } 
a img {border: 0;}

body {
    background-color: black;
    font-size: 27px;
    font-family: "Gabriola","Georgia",serif;
    color: #999;
}

.textcontainer {
	padding-top: 5%; 
	padding-left: 20%; 
	padding-right: 20%; 
    text-align: center;
}

.menucontainer {
    text-align: center;
    padding: 1%;
}

.indexcontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 700px;
    margin-top: -350px; /* Half the height */
    margin-left: -500px; /* Half the width */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titlecontainer {
	position: relative; 
    text-align: center;
    font-size: 40px;
    color: #47d147;
}

.iconcontainer {
    text-align: right;
    margin-right: 10%;
    margin-top: 1%;
}

@-ms-viewport{
  width: device-width;
}
